@charset "UTF-8";

body{
  background-image: url('popcat.png');
  background-size: cover;
  background-position: center 1px;
  background-repeat: no-repeat;
  color:white;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-family:  "Nunito",monospace ;
  text-align: center ;
}

.header{
  margin-top: 85px;
  font-size: 72px;
  font-weight: 800;
  letter-spacing: 4px;
}
#para1{
  font-size: 21px;
  font-weight: bold;
  margin-top: -24px;
}
#para2{
  font-weight: 600;
  margin-top: 560px;
  font-size:25px ;
  letter-spacing: 1px;
}
#para2 span{
  font-weight: 900;
}
#cat1{
  position: absolute;
  top:40px;
  left:40px;
  height:auto;
  width:60px;
}
#shirt{
  position: absolute;
  top:120px;
  left:40px;
  height:auto;
  width:60px;
}

